div.backgroundBlue{
    background-color: blue;
}
div.backgroundimg{
    background-image: url('https://images.unsplash.com/photo-1558244661-d248897f7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80');
}
div.padding1{
    padding: 100px;
}
div.margin1{
    margin: 100px;
}
#backgroundRed{
    background-color: red;
}
.heightWidthpx{
    height: 200px;
    width: 300px;
}
.heightWidthpercent{
width: 50%;
}
.heightWidthView{
    height: 100vh;
    width: 100vw;
    background-color: saddlebrown;
}