<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <header>
        this is barebone layout
        <br>
        <a style="color: blanchedalmond;" href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer">
        Visit flaticon.com for icon image 
        </a>
        <br>
        make sure to get an expressive font for header h1
     </header>
     <section id="body">
         <div id="sidebar">
             
             <ol
             style="color: white;"
             > 
             <h2>You can make sidebar sticky <br> <sub>make sure it doesn't cover the header</sub></h2>
            <li>This is a list options</li>
            <li>Set style type one or use an image</li>
            <li> Remove padding and margin from LI and UL is you want</li>
            </ol>
         </div>
         <main>
             <h1>Day 5 assignment create a website</h1>
             <h2>Choose any topic you like, be it a fictional character, your portfolio, your favourite animal or anything else, create a webpage about it</h2>
             <h1>use this template, Do not just edit this code, read it, understand it and write it on your own from scratch</h1>
            <h3>Visit <a href="https://unsplash.com/" target="_blank" rel="noopener noreferrer">Unsplash for images</a></h3>
            <p>
                add some text, give it some stylings, add sub sections add youtube videos, anything you like
           <br> <b>You can just copy some text from wikipedia, news article or maybe a blog </b>
            </p>
            <p>
                you can even create your profile, add sections like about me, skills, hobbies and stuff
            </p>
            <p>
                <b>Bonus!!</b><br>
                You can use this pretty button as well
                <br>
                try hovering over it
                <button class="prettyButton">Click me <span>>></span> </button>
            </p>
            <div class="best of luck">
              <b>Ignore code in this div if you do no understand</b>
            <div class="container"
            style="width: 70vw;
            position: relative;"
            >
                <img  src="https://images.unsplash.com/photo-1552728089-57bdde30beb3" alt="parrot" srcset=""
                style="width: 70vw;"
                >
                <div class="message"
                style="position: absolute;
                top: 10%;
                color: white;
                text-align: center;
                left: 10%;
                height: 250px;
                width: 200px;
                background-color: rgb(247, 7, 127);
                font-size: 70px;
                "
                >
                    Best
                    <br>
                    of
                    <br>
                    luck
                </div>
            </div>
            </div>
        </main>
     </section>
     <footer>
         footer generally has contact info
     </footer>
</body>
</html>