div{
    background-color: darkmagenta;
    height: 50px;
    width: 100px;
    border: darkorange 3px solid;
    margin: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
div:hover{
    background-color: darkorange;
    border: black dashed 4px;
}
div:active{
    background-color: blue;
}
input{
    background-color: blue;
    color:white;
}
input:focus{
    background-color: red;
    color:black;
}
p.hidepar{
    background-color: rgb(31, 8, 8);
    display: block;
    color: snow;
    height: 100px;
    width: 400px;
    text-shadow: 2px 2px 5px aqua,-2px -2px 5px pink;
}
p.hidepar span{
    font-size: 200%;
    color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);

}
p.hidepar:hover span{
    color: rgb(170, 170, 245);
}
input#check:checked ~ label{
    color: darkcyan;
}
input#checkell::after{
    content: 'unchecked';
    color: red;
    position: relative;
    left: 20px;
}
input#checkell:checked::after{
    content: 'checked';
    color: blue;
}
